footer {
    background-image: url(gcss/back_footer.jpg);
    background-repeat: repeat;
    background-position: left top;
    border: 2px solid #31b44f;
    border-radius: 25px 25px 0px 0px ;
    width: 93%;
    position: relative;
    left: 10px;
    top: 560px;
    z-index: 0;
}

footer div {
    color: #31b44f;
    font-weight: bold;
    background-color: rgba(255,255,255,0.6);
    border: 2px solid #31b44f;
    border-radius: 25px 25px;
    padding-top: 10px;
    margin: 20px 25%;
    text-align: center; 
}

footer blockquote {
    font-size: 0.875em;
}

footer div.dfg1 {
    background-color: rgba(0,0,0,0.7);
    border: 1px none black;
    border-top: 2px solid #31b44f;
    border-radius: 0px 0px;
    padding-top: 0px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    overflow: auto;
}

div.dfg1 > div {
    position: relative;
    float: left;
    background-color: transparent;
    font-size: 0.875em;
    color: white;
    font-weight: normal;
    border: 1px none white;
    width: 220px;
    margin: 5px 0px 12px 0px;
}

footer li, ul {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

footer li.lg1 {
    margin-left: 20px;
}

div.dfg1 > div.dfsg1 {
    width: 400px;
    height: 150px;
    border: 1px none white;
    margin-left: 200px;
}

footer img {
    border: 2px solid white;
    border-radius: 6px;
}

footer img:hover {
    border-color: #31b44f;
}
