header {
    background-image: url(gcss/background.jpg);
    position: fixed;
    top: 50px;
    left: 0px;
    border: 1px solid #31b44f;
    border-left-style: none;
    text-align: center;
    padding-top: 85px;
    padding-left: 5px;
    padding-right: 40px;
    width: 100%;
    height: 400px;
}

h1 {
    color: #4340ab;
    line-height: 90%;
    font-size: 2.6em;
    font-weight: normal;
}

h2 {
    color: #4340ab;
}
p {
    color: #31b44f;
    line-height: 90%;
    font-size: 1.2em;
}

p.pg1 {
    border: 1px none black;
    margin-top: 140px;
    font-size: 1em;
}

a:link.hl1, a:visited.hl1  {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15em;
    display: block;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 80px;
    padding: 7px;
    background-color: #31b44f;
}

a:hover.hl1 {
    color: white;
    background-color: #222dd7;
} 

header div {
    position: absolute;
    margin-top: 60px;
    left: 45%;
    border: 1px hidden black;
    width: 100px;
}


