div.pic1 {
    float: left;
    background-color: #edf1ee;
    max-width: 200px;
    height: 50px;
    border: 1px solid #31b44f;
    border-right: none;
    padding: 3px 20px 0px 4px;
}

li.navig a:link.navig, a:visited.navig, ul.navig {
    display: block;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    color: #31b44f;
    padding: 16.5px 18px;
    background-color: #edf1ee;
}

ul.navig  {
    margin: 0;
    padding:0;
    overflow: hidden;
    border: 1px solid #31b44f;
    border-left: none;
    border-right: none;
}

li.navig {
    float: left;
}

li.navig a:hover.navig {
    background-color: #31b44f;
    color: white;
} 

nav {
    position: fixed;
    width: 100%;
    min-width: 700px;
    top: 0;
    left: 0;
    margin: 0;
}